*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  background-color: #0c98c4;
  color: #0c98c4;
  font-family: "Poppins", sans-serif; }

.container {
  display: grid;
  grid-template-columns: [full-col-start] minmax(0.5rem, 1fr) [center-col-start] minmax(25vw, 1fr) [center-col-end] minmax(0.5rem, 1fr) [full-col-end]; }
  .container--home {
    grid-template-rows: [full-row-start] minmax(5rem, 1fr) [center-row-start] 10rem repeat(3, [row-start] 18rem [row-end]) 2rem [center-row-end] 1fr [full-row-end];
    row-gap: .15rem; }

.group {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #fff; }
  .group--type {
    grid-column: center-col-start / center-col-end;
    justify-items: center;
    grid-row: center-row-start / row-start 1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; }
  .group--towns {
    grid-column: center-col-start / center-col-end;
    justify-items: center;
    grid-row: row-start 1 / row-start 2; }
  .group--person {
    grid-column: center-col-start / center-col-end;
    justify-items: center;
    grid-row: row-start 2 / row-start 3; }
  .group--date {
    grid-column: center-col-start / center-col-end;
    justify-items: center;
    grid-row: row-start 3 / center-row-end;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }

.form {
  width: 80%;
  display: grid;
  justify-items: start;
  gap: 1rem;
  grid-template-columns: 1fr; }
  .form__group--row {
    display: grid;
    width: 100%; }
  .form__group--col {
    display: grid; }
    .form__group--col-2 {
      display: grid;
      align-items: center;
      grid-template-columns: 3.6rem max-content;
      grid-column: 1 / -1;
      font-size: 1.6rem; }
  .form__group-pers {
    display: grid;
    grid-template-columns: max-content; }
  .form__radio-input, .form__checkbox-input {
    display: none; }
  .form__radio-button, .form__checkbox-button {
    position: relative;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border: 0.25rem solid #ccc;
    border-radius: .8rem;
    cursor: pointer;
    transition: all .2s; }
    .form__radio-button::before, .form__checkbox-button::before {
      content: "";
      display: block;
      position: absolute;
      width: .3rem;
      height: 1.5rem;
      border-radius: 2rem;
      background-color: #f9017c;
      transform: rotate(35deg);
      top: .4rem;
      left: 1.4rem;
      opacity: 0;
      transition: opacity .2s; }
    .form__radio-button::after, .form__checkbox-button::after {
      content: "";
      display: block;
      position: absolute;
      width: .3rem;
      height: .8rem;
      border-radius: 2rem;
      background-color: #f9017c;
      transform: rotate(-35deg);
      top: 1rem;
      left: .85rem;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-button,
  .form__checkbox-input:checked ~ .form__checkbox-button {
    border-color: #f9017c; }
  .form__radio-input:checked ~ .form__radio-button::before,
  .form__radio-input:checked ~ .form__radio-button::after,
  .form__checkbox-input:checked ~ .form__checkbox-button::before,
  .form__checkbox-input:checked ~ .form__checkbox-button::after {
    opacity: 1; }
  .form__label--primary {
    color: #f9017c;
    font-weight: 400;
    line-height: 1; }
  .form__select {
    padding: .2rem;
    width: 80%;
    height: 2.5rem;
    outline: #0c98c4 0.1rem;
    justify-self: end;
    margin-right: 2rem; }
  .form__number {
    width: 5rem;
    padding: .2rem; }
  .form--cols {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; }
  .form--rows {
    row-gap: 1rem; }
  .form--person {
    grid-template-columns: 1fr 1fr; }
  .form--date {
    position: relative; }
    .form--date .go {
      position: absolute;
      display: block;
      top: 60%;
      left: 65%;
      background-color: #f9017c;
      color: #fff;
      width: 13rem;
      height: 13rem;
      border-radius: 50rem;
      text-align: center;
      padding-top: 3rem;
      font-size: 4rem;
      font-weight: 700; }
