*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  display: grid;
  grid-template-columns: [full-col-start] minmax(0.5rem, 1fr) [center-col-start] minmax(40vw, 1fr) [center-col-end] minmax(0.5rem, 1fr) [full-col-end]; }
  .container--home {
    grid-template-rows: [full-row-start] minmax(5rem, 1fr) [center-row-start] 10rem repeat(3, [row-start] 25rem [row-end]) 2rem [center-row-end] 1fr [full-row-end]; }

.form {
  display: grid;
  justify-items: center;
  align-items: center; }
  .form--type {
    grid-column: center-col-start / center-col-end;
    justify-items: center;
    grid-row: center-row-start / row-start 1;
    background-color: royalblue; }
  .form--towns {
    grid-column: center-col-start / center-col-end;
    justify-items: center;
    grid-row: row-start 1 / row-start 2;
    background-color: rebeccapurple; }
  .form--person {
    grid-column: center-col-start / center-col-end;
    justify-items: center;
    grid-row: row-start 2 / row-start 3;
    background-color: aqua; }
  .form--date {
    grid-column: center-col-start / center-col-end;
    justify-items: center;
    grid-row: row-start 3 / center-row-end;
    background-color: aquamarine; }
