*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  display: grid;
  grid-template-columns: [full-col-start] minmax(0.5rem, 1fr) [center-col-start] minmax(40vw, 1fr) [center-col-end] minmax(0.5rem, 1fr) [full-col-end]; }
  .container--home {
    grid-template-rows: [full-row-start] minmax(5rem, 1fr) [center-row-start] 10rem repeat(3, [row-start] 25rem [row-end]) 2rem [center-row-end] 1fr [full-row-end];
    row-gap: .15rem; }

.group {
  display: grid;
  justify-items: center;
  align-items: center; }
  .group--type {
    grid-column: center-col-start / center-col-end;
    justify-items: center;
    grid-row: center-row-start / row-start 1;
    background-color: royalblue; }
  .group--towns {
    grid-column: center-col-start / center-col-end;
    justify-items: center;
    grid-row: row-start 1 / row-start 2;
    background-color: rebeccapurple; }
  .group--person {
    grid-column: center-col-start / center-col-end;
    justify-items: center;
    grid-row: row-start 2 / row-start 3;
    background-color: aqua; }
  .group--date {
    grid-column: center-col-start / center-col-end;
    justify-items: center;
    grid-row: row-start 3 / center-row-end;
    background-color: aquamarine; }

.form {
  display: grid; }
  .form__group--1, .form__group--2 {
    display: grid;
    grid-template-columns: minmax(13rem, max-content);
    grid-template-rows: max-content; }
  .form__radio-input {
    display: none; }
  .form__radio-button {
    position: relative;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border: 2px solid burlywood;
    border-radius: .8rem;
    cursor: pointer;
    transition: all .2s; }
    .form__radio-button::before {
      content: "";
      display: block;
      position: absolute;
      width: .3rem;
      height: 1.5rem;
      border-radius: 2rem;
      background-color: red;
      transform: rotate(35deg);
      top: .4rem;
      left: 1.4rem;
      opacity: 0;
      transition: opacity .2s; }
    .form__radio-button::after {
      content: "";
      display: block;
      position: absolute;
      width: .3rem;
      height: .8rem;
      border-radius: 2rem;
      background-color: red;
      transform: rotate(-35deg);
      top: 1rem;
      left: .85rem;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-button::before,
  .form__radio-input:checked ~ .form__radio-button::after {
    opacity: 1; }
  .form--type {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; }
