// VARIABLE COLORS
$color-primary: #f9017c;
$color-secondary: #0c98c4;
$color-grey-light: #ccc;

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    background-color: $color-secondary;
    color: $color-secondary;
    font-family: "Poppins", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: [full-col-start] minmax(.5rem, 1fr) 
                           [center-col-start] minmax(25vw, 1fr) [center-col-end] 
                           minmax(.5rem, 1fr) [full-col-end];

    &--home {
        grid-template-rows: [full-row-start] minmax(5rem, 1fr) 
                            [center-row-start] 10rem repeat(3, [row-start] 18rem [row-end]) 2rem [center-row-end] 
                            1fr [full-row-end];
        row-gap: .15rem;
    }

    &--train {
        
    }
}