.group {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #fff;
    
    &--type {
        @include centerLayout;
        grid-row: center-row-start / row-start 1;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    &--towns {
        @include centerLayout;
        grid-row: row-start 1 / row-start 2;
    }
    
    &--person {
        @include centerLayout;
        grid-row: row-start 2 / row-start 3;
    }

    &--date {
        @include centerLayout;
        grid-row: row-start 3 / center-row-end;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

.form {

    display: grid;

    &__group--1, 
    &__group--2 {
        display: grid;
        grid-template-columns: minmax(25rem, 1fr);
        grid-template-rows: max-content;
    }

    //CUSTUMIZE RADIO BUTTON

    &__radio-input {
        display: none;
    }

    &__radio-button {
        position: relative;
        display: inline-block;
        height: 3rem;
        width: 3rem;
        border: .25rem solid $color-grey-light;
        border-radius: .8rem;
        cursor: pointer;
        transition: all .2s;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: .3rem;
            height: 1.5rem;
            border-radius: 2rem;
            background-color: $color-primary;
            transform: rotate(35deg);
            top: .4rem;
            left: 1.4rem;
            opacity: 0;
            transition: opacity .2s;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: .3rem;
            height: .8rem;
            border-radius: 2rem;
            background-color: $color-primary;
            transform: rotate(-35deg);
            top: 1rem;
            left: .85rem;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-button {
        border-color: $color-primary;
    }

    &__radio-input:checked ~ &__radio-button::before, 
    &__radio-input:checked ~ &__radio-button::after {
        opacity: 1;
    }

    &--type {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    &--towns {

    }

    &--person {

    }

    &--date {

    }

}